.container {
  background-color: aliceblue;

}

.main {
  padding: 2rem;
  min-height: 90vh;
  flex-direction: column;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
}

.title {
  font-size: 2rem;
}

.selected {
  text-decoration-line: underline;
}

.content {
  display: flex;
  padding-top: 2rem;
}

.topics {
  flex: 70;
  border-right: 2px solid #eaeaea;
  padding: 1rem
}

.topic:hover {
  cursor: pointer;
}

.details {
  flex: 30;
  padding: 0 2rem;
}

.details p {
  font-size: 1.2rem;
}

.tag {
  background-color: green;
}

.wordCloud:only-child:hover {
  cursor: pointer;
}