.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  padding: 1vw;
  line-height: 1.15;
  font-size: 5vw;
}

.switch {
  padding:1rem;
}

.selected {
  text-decoration-line: underline;
}

.content {
  display: flex;
}

.topics {
  flex: 70;
  border-right: 1px solid #eaeaea;
}

.topic:hover {
  cursor: pointer;
}

.details {
  flex: 30;
  padding: 0 1rem;
}

.details p {
  font-size: 2vw;
  margin-top:0;
}

.details div {
  font-size: 1.5vw;
}

.tag {
  background-color: green;
}